{% extends "layout.html" %}
{% block jslibs %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#index_table').DataTable();
        $('#hide_gliders').on('click', function () {
            if (this.checked){
                $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                    console.log(data)
                    return data[0] === "False";
                });
            }
            if (!this.checked){
                $.fn.dataTable.ext.search.pop();
            }
            table.draw();
        });
    });



    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }
    function showPosition(position) {
        console.log(position.coords.latitude);
        console.log( position.coords.longitude);
        // // TODO this is just a test value, far away from Bodensee
        // latitude = 33.6;
        // longitude = -84.7;
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;

        window.location.replace("index?latitude=" + latitude + "&longitude=" +longitude);
    }
</script>
{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
<div class="list-group">
    <div>
        <input type="checkbox" id="hide_gliders" name="hide_gliders">
        <label for="hide_gliders">Hide gliders</label>
    </div>
    <button class="btn btn-primary" onclick="getLocation()"; id="getLocation">Update list for my location!</button>
    <table id="index_table" class="display">
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th></th>
                <th>Model</th>
                <th>Airline</th>
                <th>Altitude</th>
                <th>Origin</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td style="display:none;"><a class="list-group-item">{{item["glider"]}}</a> </td>
                <td>
                    {{item['badge_link'][0]}}
                    <figure class="image" style="width: 200px; height: 112px">
                         <img src={{item['img'][0]}} alt={{item['img'][0]}}>
                    </figure>
                    {{item['badge_link'][1]}}
                    <p style="display:none;">{{item['distance']}}</p>
                </td>
                <td><p class="list-group-item">{{item['model']}}</p></td>
                <td><p class="list-group-item">{{item['airline']}}</p></td>
                <td><p class="list-group-item">{{item['altitude']}} m.</p></td>
                <td><p class="list-group-item">{{item["origin"]}}</p></td>
                <td><p class="list-group-item">{{item["destination"]}}</p></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}