{% extends "layout.html" %}
{% block jslibs %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#index_table').DataTable();
        $('#hide_gliders').on('click', function () {
            if (this.checked){
                $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                    console.log(data)
                    return data[0] === "False";
                });
            }
            table.draw();
            if (this.checked){
                $.fn.dataTable.ext.search.pop();
            }
        });
    });



    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }
    function showPosition(position) {
        console.log(position.coords.latitude);
        console.log( position.coords.longitude);
        // // TODO this is just a test value, far away from Bodensee
        // latitude = 33.6;
        // longitude = -84.7;
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;

        window.location.replace("index?latitude=" + latitude + "&longitude=" +longitude);
    }
</script>
{% endblock %}
{% block styles %}
<style>
    div {
        margin-top: 10px;
    }
</style>

{% endblock %}
{% block content %}
<div class="list-group">
    <button class="btn btn-primary" onclick="getLocation()" id="getLocation">Get my location!</button>
    <div>
        <input type="checkbox" id="hide_gliders" name="hide_gliders">
        <label for="hide_gliders">Hide gliders</label>
    </div>
    <table id="index_table" class="display">
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th></th>
                <th>Model</th>
                <th>Airline</th>
                <th>Altitude [m]</th>
                <th>Origin</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td style="display:none;"><a class="list-group-item">{{item["glider"]}}</a> </td>
                <td><img src={{item['img'][0]}} alt={{item['img'][1]}} width="200" height="112"></td>
                <td><a class="list-group-item">{{item['model']}}</a></td>
                <td><a class="list-group-item">{{item['airline']}}</a></td>
                <td><a class="list-group-item">{{item['altitude']}}</a></td>
                <td><a class="list-group-item">{{item["origin"]}}</a></td>
                <td><a class="list-group-item">{{item["destination"]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}